<app-main-toolbar> </app-main-toolbar>
<div class="general">
<div class="container section-ourTeam">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
			<div class="row section-success ourTeam-box text-center"></div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
  			<div class="row section-info ourTeam-box text-center">
     </div>
   </div>
   <div class="col-md-4 col-sm-4 col-xs-12">
       <div class="row section-danger ourTeam-box text-center">
    </div>
   </div>
 </div>
 <br><br>
 <h4> Τηλεφωνο επικοινωνίας:210 2342345 </h4>
 <br>
 <h4> Email επικοινωνίας :fsocietysofteng@gmail.com</h4>
 <h4> Που βρισκόμαστε: </h4>
 <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3144.990539333912!2d23.781873635720803!3d37.9773501!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a197f3f840da9b%3A0xfaaf40a0b4d19c2d!2sAdministration+Building+NTUA!5e0!3m2!1sen!2sgr!4v1520517945991" width="100%" height="900" frameborder="0" style="border:0" allowfullscreen></iframe>
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="row section-success ourTeam-box text-center"></div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="row section-info ourTeam-box text-center"></div>
 </div>
 <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="row section-danger ourTeam-box text-center"></div>
</div>
</div>
</div>
</div>
