<app-main-toolbar> </app-main-toolbar>

<div class="container section-ourTeam">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
			<div class="row section-success ourTeam-box text-center"></div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
  			<div class="row section-info ourTeam-box text-center">
     </div>
   </div>
   <div class="col-md-4 col-sm-4 col-xs-12">
       <div class="row section-danger ourTeam-box text-center">
    </div>
  </div>
</div>
<br>
<br>
 <div class="row">
    <div class="col-md-3">
      <img src="/assets/main-toolbar/fsociety_logo_nowords.png">
    </div>
    <div class="col-md-7">
        <h1 style="color: #00b4e6;text-align:left;">Fun Society</h1>
      <p style="text-align:justify;">
        Η δημιουργία της διαδικτυακής αυτής πλατφόρμας (Fun Society) στοχεύει στην καλύτερη επιλογή δραστηριοτήτων από τους γονείς για τα παιδιά τους. Με την εφαρμογή αυτή οι γονείς θα μπορούν να επιλέξουν μέσα από μία μεγάλη γκάμα δραστηριοτήτων (αθλητικών, καλλιτεχνικών, εκπαιδευτικών κ.α.) αυτή που αντιπροσωπεύει κατά κύριο λόγο τις ανάγκες και τα ενδιαφέροντα των παιδιών τους. Πώς ακριβώς όμως μπορεί να επιτευχθεί αυτό;

Η πλατφόρμα μας συνεργάζεται με αρκετές επιχειρήσεις - παρόχους οι οποίοι θα δημοσιοποιούν μέσα από την πλατφόρμα την δραστηριότητα-υπηρεσία που προσφέρουν και η οποία θα ανταποκρίνεται αποκλειστικά σε παιδιά διάφορων ηλικιών. Οι γονείς με την σειρά τους μέσα από τα διάφορα κριτήριά τους όπως η ηλικία, το κόστος, η απόσταση, το είδος της δραστηριότητας, ή και συνδυασμός αυτών θα είναι σε θέση να επιλέξουν αυτή που ικανοποιεί περισσότερο τις επιθυμίες και τις ανάγκες των παιδιών τους. Κατά τον τρόπο αυτό η διαδικτυακή αυτή πλατφόρμα παρέχει την πλήρη εγγύηση και ασφάλεια στους γονείς ότι έκαναν την κατάλληλη επιλογή για τα παιδιά τους.
</p>
<p style="text-align:justify;">
Η ιδέα για την ανάπτυξη της εφαρμογής αυτής προέκυψε από το γεγονός πως αρκετοί από τους γονείς στη σημερινή εποχή δεν διαθέτουν τη γνώση αλλά κυρίως το χρόνο να ψάξουν για δραστηριότητες οι οποίες να ανταποκρίνονται πλήρως στα παιδιά τους. Η δημιουργία της νέας αυτής πλατφόρμας πέρα από τους γονείς θα υποβοηθήσει τόσο τα παιδιά τα οποία θα αξιοποιούν το χρόνο τους αποδοτικά με δραστηριότητες που τους ικανοποιούν όσο και τους παρόχους οι οποίοι θα γνωστοποιούν τις μέχρι πρότινος «άγνωστες» δραστηριότητες-υπηρεσίες που παρέχουν.</p>

<p style="text-align:justify;">Η πλατφόρμα μας πρόκειται για μια διαδικτυακή εφαρμογή στην οποία ο χρήστης έχει πρόσβαση μέσω ενός browser.

Ο κάθε χρήστης έχει τη δυνατότητα, ανάλογα με την ιδιότητά του, να δημιουργήσει ένα λογαριασμό τον οποίο θα χρησιμοποιεί για την αλληλεπίδρασή του με τους άλλους χρήστες της πλατφόρμας. Η βασική λειτουργία είναι αυτή της αναζήτησης δραστηριοτήτων και γίνεται μέσω μιας φόρμας "έξυπνων" κριτηρίων ανάλογα με τα χαρακτηριστικά που παρέχουν οι αντίστοιχοι διοργανωτές.

Ο κύριος στόχος της πλατφόρμας είναι να οδηγεί τους χρήστες-γονείς στις δραστηριότητες που ταιριάζουν περισσότερο στα παιδιά τους με προτεραιότητα σε εκείνες που βρίσκονται εντός μιας σχετικά μικρής γεωγραφικής περιοχής προκειμένου να διευκολυνθεί η μετακίνηση των παιδιών στο χώρο διεξαγωγής τους.

 Για τους παρόχους, τους δίνεται η δυνατότητα να απευθυνθούν σε ένα ευρύ κοινό και να προσελκύσουν περισσότερους πελάτες στους οποίους δεν θα μπορούσαν να απευθυνθούν με παραδοσιακά μέσα.
</p>

    </div>
</div>
<br>
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="row section-success ourTeam-box text-center"></div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="row section-info ourTeam-box text-center">
   </div>
 </div>
 <div class="col-md-4 col-sm-4 col-xs-12">
     <div class="row section-danger ourTeam-box text-center">
  </div>
</div>
</div>







</div>
