<app-main-toolbar> </app-main-toolbar>
<div class="general">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
     <h3><b>Εγγραφή γονέα</b></h3>
     </div>
    <form (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFirstName">Όνομα</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="Όνομα" [(ngModel)]="parent.firstName" name="firstName" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputLastName">Επώνυμο</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Επώνυμο" [(ngModel)]="parent.lastName" name="lastName" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputUserName">Username</label>
        <input type="text" class="form-control" id="inputUserName" placeholder="Username" [(ngModel)]="parent.username" name="username" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="parent.password" name="password" required>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail">E-Mail</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="E-Mail" [(ngModel)]="parent.email" name="email" required>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6 ">
      <label for="inputArea">Περιοχή</label>
      <input type="text" class="form-control" id="inputArea" placeholder="Area" [(ngModel)]="parent.area" name="inputArea" required>
    </div>

    <div class="form-group col-md-4 ">
      <label for="inputStreetName">Οδός</label>
      <input type="text" class="form-control" id="inputStreetName" placeholder="Name" [(ngModel)]="parent.streetName" name="inputStreetName" required>
    </div>

    <div class="form-group col-md-2">
      <label for="inputStreetNumber">Αριθμός</label>
      <input type="text" class="form-control" id="inputStreetNumber" placeholder="streetNumber" [(ngModel)]="parent.streetNumber" name="inputStreetNumber" required>
    </div>

    </div>
    <div class="form-group">
      <label for="inputPhoneNumber">Αριθμός Τηλεφώνου</label>
      <input type="text" class="form-control" id="inputPhoneNumber" [(ngModel)]="parent.phoneNumber" name="phoneNumber" required>
    </div>
    <div class="form-group">
      <label for="inputDebitCard">Αριθμός Χρεωστικής Κάρτας</label>
      <input type="text" class="form-control" id="inputDebitCard" [(ngModel)]="parent.debitCard" name="debitCard" required>
    </div>
    <div class="fadeIn fourth">
    <button type="submit" class="btn btn-primary" >Εγγραφή</button></div>
  </form>
</div>
</div>
</div>
