<app-main-toolbar> </app-main-toolbar>
<div class="general">

  <button type="button" style="all:initial; position:top leftl;margin-left:20px;margin-top:20px;" [routerLink]="['/parent-events',searchURLParameters[0],searchURLParameters[1],searchURLParameters[2],searchURLParameters[3],searchURLParameters[4],searchURLParameters[5],searchURLParameters[6],searchURLParameters[7]]" class="my-clickable btn2 btn-primary"> <i class="fa fa-chevron-left" aria-hidden="true" style="font-size:70px; color:dimgray;"></i>
 </button>
<div class="general">
<div class="container">
<div class="card w-100">

    <div class="row">
      <div class="col-xs-4 col-md-4">
        <img class="group myimage" src="data:image/png;base64,{{event.photoBody}}" alt="Sorry" />
      </div>
      <div class="col-xs-8 col-md-8">
      <div class="card-body">
        <h1 class="card-title" style="color:dimgray;" ><b>{{event.eventname}} </b></h1>
        <p class="card-text"><b>Περιγραφή Δραστηριότητας: </b>{{event.description}}</p>
        <p class="card-text"><b>Ηλικιακή κατηγορία Δραστηριότητας: </b>{{ageGroupString}}</p>
        <p class="card-text"><b>Ημερομηνία: </b> {{event.date}}</p>

        <div class="row">
        <div class="col-xs-4 col-md-4">
          <b>Περιοχή:</b> {{event.area}}
        </div>
        <div class="col-xs-4 col-md-4">
          <b>Οδός:</b> {{event.streetName}}
        </div>
        <div class="col-xs-4 col-md-4">
          <b>Αριθμός:</b> {{event.streetNumber}}
        </div>
        </div>
        <p></p>
        <p class="card-text"><b>Κατηγορία Δραστηριότητας: </b> {{categoryString}}</p>
       <p class="card-text"><b>Συνολικές θέσεις Δραστηριότητας: </b> {{event.capacity}}</p>
       <p class="card-text"><b> Τιμή εισιτηρίου: </b> {{event.price}}€</p>
       <p></p>

       <div class="row">
       <div class="col-xs-4 col-md-4">
         <b>Όνομα Επιχείρησης:</b> {{provider.companyName}}
       </div>
       <div class="col-xs-4 col-md-4">
         <b>Tηλέφωνο:</b> {{provider.telNumber}}
       </div>
       <div class="col-xs-4 col-md-4">
         <b>Email:</b> {{provider.mail}}
       </div>
       </div>


          <div *ngIf="!flag then content1 else content2"></div>
          <ng-template #content1>
            <button  class="my-clickable btn btn-primary" routerLink="/login-page">Κράτα θέση</button>
          </ng-template>
          <ng-template #content2>
            <button  class="my-clickable btn btn-primary" data-toggle="modal" data-target="#exampleModal">Κράτα θέση</button>
            <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" style="margin-top:80px" role="document">
          <div class="modal-content" >
          <div class="modal-header">


          <h4 class="modal-title" id="exampleModalLabel">Κράτηση εισητηρίων</h4>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>


          </div>
          <div class="modal-body" style="height:90px;">
          <form>
          <div class="form-row">
          <div class="form-group col-md-9">
          <p><b>Πλήθος εισητηρίων για κράτηση</b></p>
          </div>
          <div class="form-group col-md-3">
            <input type="number" min="0" class="form-control" name="num" [(ngModel)]="model.num">
          </div>
          </div>
          </form>
          </div>
          <div class="xexe" style="margin-left:52%;">
          <button type="button" style="	background-color:#00b4e6; padding: 15px 20px;"  class="btn1 btn-secondary" data-dismiss="modal">Ακύρωση</button>
          <button type="button" style="	background-color:#00b4e6; padding: 15px 20px;" class="btn1 btn-primary" (click)="buy_ticket1(model.num)">Υποβολή</button>
        </div>
          <div class="modal-footer">
          <div *ngIf="error2" class="alert alert-danger">{{error2}}</div>

          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          <div *ngIf="error1" class="alert alert-success">{{error1}}</div>
          </div>
          </div>
          </div>
          </div>
          </ng-template>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
