/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	margin:0px !important;
}

.login-container{
	width: 100%;
  	height:400px;
  	padding: 0% !important;
	background-color: #fff;
}

.login-box-body{
	width: auto;
	height:100%;
	padding: 5% 5% 5% 5%;
	color: #666;
}

.login-icon{
	margin-top: -2px;
}

.justifier {
	width: 100%;
	padding-bottom: 2%;
}

.login-button{
	width: 100%;
	padding:1.5% !important;
    background-color: #673ab7;
    font-size: 1.5em;
    color: #fff !important;
}
