<app-main-toolbar></app-main-toolbar>

<button type="button" style="all:initial; position:top leftl;margin-left:20px;margin-top:20px;" routerLink="/parent-profile" class="btn2 btn-primary"> <i class="fa fa-chevron-left" aria-hidden="true" style="font-size:70px; color:dimgray;"></i>
</button>
<div class="general">
  <h4 style="text-align:center;font-family:sans-serif;text-transform: uppercase;color: #56baed;"><b>Οι κρατησεις μου</b>
  </h4><br>
  <div class="container">
    <h5 style="text-align:center;text-transform: uppercase; color: #cccccc;">Ιστορικo</h5>

    <app-parent-history-list [events]="eventsList">
    </app-parent-history-list>
  </div>
</div>
