<app-main-toolbar> </app-main-toolbar>
<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h1 class="display-3">Fun Society</h1>
    <p class="lead">Εκεί που η διασκέδαση γίνεται καθημερινότητα!</p>
  </div>
</div>
<div class="col-sm-12 col-xs-12 com -md 12">
<button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/parent-events" href=""><h3>Events</h3></button>
<button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/add-event" href=""><h3>New Event</h3></button>
</div>
