<div class="card w-100">
  <div class="row">
    <div class="col-xs-5 col-md-5">
      <img class="group myimage" src="data:image/png;base64,{{event.photoBody}}" alt="Sorry" routerLink="/one-event/{{event.id}}" />
    </div>
    <div class="col-xs-7 col-md-7">
        <div class="card-body">
          <h5 class="card-title"><b>{{event.eventname}}</b></h5>
          <p class="card-text">{{shortDescription}}</p>
          <p class="card-text"><b>Τιμή εισιτηρίου: {{event.price}}€</b></p>
          <p class="card-text"><b>Περισσότερες πληροφορίες για την κράτησή έχουν σταλθεί στο email σας!</b></p>
        </div>
      </div>
    </div>
</div>
