<div class="card w-100">
  <div class="row">
    <div class="col-xs-5 col-md-5">
      <img class="group myimage" src="data:image/png;base64,{{event.photoBody}}" alt="Sorry" />
    </div>
    <div class="col-xs-7 col-md-7">
        <div class="card-body">
          <h5 class="card-title"><b>{{event.eventname}}</b></h5>
          <br>
          <p class="card-text"><b>Περιγραφή:</b> {{shortDescription}}</p>
          <p class="card-text"><b>Ημερομηνία:</b> {{event.date}}</p>
          <p class="card-text"><b>Τιμή εισιτηρίου:</b> {{event.price}}€</p>
          <p class="card-text">Περισσότερες πληροφορίες για την κράτησή έχουν σταλθεί στο email σας!</p>
        </div>
      </div>
    </div>
</div>
