<div class="container">
<div class="card w-100">
  <div class="row">
    <div class="col-xs-5 col-md-5">
      <img class="group myimage" src="http://placehold.it/400x250/000/fff" alt=""/>
    </div>
    <div class="col-xs-7 col-md-7">
      <div class="card-body">
        <h5 class="card-title"><b>{{event.eventName}}</b></h5>
        <p class="card-text">{{shortDescription}}</p>
        <p class="card-text"><b>Τιμή εισιτηρίου: {{event.price}}€</b></p>
        <p class="card-text"><b>Αγοράστηκαν εισητήρια: {{event.capacity}}€</b></p>
        </div>
      </div>
    </div>
    </div>
  </div>
