
<app-main-toolbar> </app-main-toolbar>
<script src="admin-page.component.js"></script>
<script src="/admin-page/admin.page.component.js"></script>
<script src="/admin-page.component/admin.page.component.js"></script>

<div class="container">
  <br>
  <h2 style="text-align:center;font-family:sans-serif;text-transform: uppercase;color: #cccccc;">Διαχειρηση χρηστων </h2>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button (click)="ParorProv=0" type="button" class="my-clickable btn btn-secondary">Γονείς</button>
    <button (click)="ParorProv=1" type="button" class="my-clickable btn btn-secondary">Πάροχοι</button>
  </div>
  <p></p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <div *ngIf="ParorProv==0">
    <b>Γονείς</b>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Όνομα</th>
          <th>Επώνυμο</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr *ngFor="let usr of userList">
          <td *ngIf="usr[2]==='PARENT'">{{usr[0].username}}</td>
          <td *ngIf="usr[2]==='PARENT'">{{usr[0].firstName}}</td>
          <td *ngIf="usr[2]==='PARENT'">{{usr[0].lastName}}</td>
          <td *ngIf="usr[2]==='PARENT'">{{usr[0].email}}</td>
          <td *ngIf="usr[2]==='PARENT'" style="align-items:center;align-content:center;align-self:center;">
            <button type="button" *ngIf="usr[1]==='UNBLOCKED'" (click)="lockUser(usr[0].username)" class="my-clickable btn btn-danger" style="position:center;margin-left:30%;align-items:center">Block</button>
            <button type="button" *ngIf="usr[1]==='BLOCKED'" (click)="unlockUser(usr[0].username)" class="my-clickable btn btn-success" style="position:center;margin-left:30%;align-items:center">Unblock</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="ParorProv==1">
    <b>Πάροχοι Υπηρεσιών</b>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Όνομα επιχείρησης</th>
          <th>Username</th>
          <th>Όνομα</th>
          <th>Επώνυμο</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr  *ngFor="let usr of userList">
          <td *ngIf="usr[2]==='PROVIDER'">{{usr[0].companyName}}</td>
          <td *ngIf="usr[2]==='PROVIDER'">{{usr[0].userName}}</td>
          <td *ngIf="usr[2]==='PROVIDER'">{{usr[0].firstName}}</td>
          <td *ngIf="usr[2]==='PROVIDER'">{{usr[0].lastName}}</td>
          <td *ngIf="usr[2]==='PROVIDER'">{{usr[0].mail}}</td>
          <td *ngIf="usr[2]==='PROVIDER'" style="align-items:center;align-content:center;align-self:center;" >
            <button type="button" *ngIf="usr[1]==='UNBLOCKED'" (click)="lockUser(usr[0].userName)" class="my-clickable btn btn-danger" style="position:center;margin-left:30%;align-items:center">Block</button>
            <button type="button" *ngIf="usr[1]==='BLOCKED'" (click)="unlockUser(usr[0].userName)" class="my-clickable btn btn-success" style="position:center;margin-left:30%;align-items:center">Unblock</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
