<app-main-toolbar></app-main-toolbar>
<div class="general">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <h3><b>Εγγραφη Παροχου</b></h3><br>
      </div>

      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div *ngIf="!error_prov then content else other_content"></div>
          <ng-template #content><label for="inputFirstName">Όνομα Επιχείρησης</label>
            <input type="text" class="form-control" id="inputCompanyName" placeholder="Επιχείρηση"
                   [(ngModel)]="providers.companyName" name="companyName" required></ng-template>
          <ng-template #other_content><label for="inputFirstName">Όνομα Επιχείρησης</label>
            <input type="text" style="border: 1.4px solid red;" class="form-control" id="inputCompanyName"
                   placeholder="Επιχείρηση" [(ngModel)]="providers.companyName" name="companyName" required>
          </ng-template>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <div *ngIf="!error_fir then content1 else other_content1"></div>
            <ng-template #content1><label for="inputFirstName">Όνομα</label>
              <input type="text" class="form-control" id="inputFirstName" placeholder="Όνομα"
                     [(ngModel)]="providers.firstName" name="firstName" required>
            </ng-template>
            <ng-template #other_content1><label for="inputFirstName">Όνομα</label>
              <input type="text" style="border: 1.4px solid red;" class="form-control" id="inputFirstName"
                     placeholder="Όνομα" [(ngModel)]="providers.firstName" name="firstName" required>
            </ng-template>
          </div>
          <div class="form-group col-md-6">
            <div *ngIf="!error_las then content2 else other_content2"></div>
            <ng-template #content2><label for="inputLastName">Επώνυμο</label>
              <input type="text" class="form-control" id="inputLastName" placeholder="Επώνυμο"
                     [(ngModel)]="providers.lastName" name="lastName" required>
            </ng-template>
            <ng-template #other_content2><label for="inputLastName">Επώνυμο</label>
              <input type="text" style="border: 1.4px solid red;" class="form-control" id="inputLastName"
                     placeholder="Επώνυμο" [(ngModel)]="providers.lastName" name="lastName" required>
            </ng-template>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <div *ngIf="!error_user && !error then content3 else other_content3"></div>
            <ng-template #content3>
              <label for="inputUserName">Username</label>
              <input type="text" class="form-control" id="inputUserName" placeholder="Username"
                     [(ngModel)]="providers.userName" name="userName" required>
            </ng-template>
            <ng-template #other_content3>
              <label for="inputUserName">Username</label>
              <input type="text" style="border: 1.4px solid red;" class="form-control" id="inputUserName"
                     placeholder="Username" [(ngModel)]="providers.userName" name="userName" required>
            </ng-template>
          </div>
          <div class="form-group col-md-6">
            <div *ngIf="!error_pass && !error then content4 else other_content4"></div>
            <ng-template #content4>
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                     [(ngModel)]="providers.password" name="password" required>
            </ng-template>
            <ng-template #other_content4>
              <label for="inputPassword">Password</label>
              <input type="password" style="border: 1.4px solid red;" class="form-control" id="inputPassword"
                     placeholder="Password" [(ngModel)]="providers.password" name="password" required>
            </ng-template>
          </div>
        </div>


        <div class="form-group">
          <div *ngIf="!error_desc then content5 else other_content5"></div>
          <ng-template #content5>
            <label for="inputDescription">Περιγραφή Επιχείρησης</label>
            <textarea class="form-control" id="inputDescription" [(ngModel)]="providers.description" name="description"
                      required> </textarea>
          </ng-template>
          <ng-template #other_content5>
            <label for="inputDescription">Περιγραφή Επιχείρησης</label>
            <textarea style="border: 1.4px solid red;" class="form-control" id="inputDescription"
                      [(ngModel)]="providers.description" name="description" required> </textarea>
          </ng-template>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Περιοχή</label>
            <input type="text" class="form-control" id="inputCity" [(ngModel)]="providers.area" name="area" required>
          </div>
          <div class="form-group col-md-4">
            <label for="inputodos">Οδός</label>
            <input type="text" class="form-control" id="inputodos" [(ngModel)]="providers.streetName" name="streetName"
                   required>
          </div>
          <div class="form-group col-md-2">
            <label for="inputarithmos">Αριθμός</label>
            <input type="text" class="form-control" id="inputarithmos" [(ngModel)]="providers.streetNumber"
                   name="streetNumber" required>
          </div>
        </div>

        <div class="form-group">
          <div *ngIf="!error_mail then content6 else other_content6"></div>
          <ng-template #content6>
            <label for="inputEmail">E-Mail</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="E-Mail" [(ngModel)]="providers.mail"
                   name="mail" required>
          </ng-template>
          <ng-template #other_content6>
            <label for="inputEmail">E-Mail</label>
            <input type="email" style="border: 1.4px solid red;" class="form-control" id="inputEmail"
                   placeholder="E-Mail" [(ngModel)]="providers.mail" name="mail" required>
          </ng-template>
        </div>


        <div class="form-group">
          <div *ngIf="!error_tel then content8 else other_content8"></div>
          <ng-template #content8>
            <label for="inputPhoneNumber">Αριθμός Τηλεφώνου</label>
            <input type="text" class="form-control" id="inputPhoneNumber" [(ngModel)]="providers.telNumber"
                   name="telNumber" required>
          </ng-template>
          <ng-template #other_content8>
            <label for="inputPhoneNumber">Αριθμός Τηλεφώνου</label>
            <input type="text" style="border: 1.4px solid red;" class="form-control" id="inputPhoneNumber"
                   [(ngModel)]="providers.telNumber" name="telNumber" required>
          </ng-template>
        </div>


        <div class="form-group">
          <div *ngIf="!error_iban then content7 else other_content7"></div>
          <ng-template #content7>
            <label for="inputiban">Αριθμός Χρεωστικής Κάρτας</label>
            <input type="text" class="form-control" id="inputiban" [(ngModel)]="providers.iban" name="iban" required>
          </ng-template>
          <ng-template #other_content7>
            <label for="inputiban">Αριθμός Χρεωστικής Κάρτας</label>
            <input type="text" style="border: 1.4px solid red;" class="form-control" id="inputiban"
                   [(ngModel)]="providers.iban" name="iban" required>
          </ng-template>

        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" (click)="check()" class="form-check-input">
            Αποδέχομαι τους όρους
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Εγγραφή</button>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <div *ngIf="error_mail" class="alert alert-danger">{{error_mail}}</div>
        <div *ngIf="error_tel" class="alert alert-danger">{{error_tel}}</div>
        <div *ngIf="error_iban" class="alert alert-danger">{{error_iban}}</div>
        <div *ngIf="error_ch" class="alert alert-danger">{{error_ch}}</div>
        <div *ngIf="error_fir" class="alert alert-danger">{{error_fir}}</div>
        <div *ngIf="error_las" class="alert alert-danger">{{error_las}}</div>
        <div *ngIf="error_user" class="alert alert-danger">{{error_user}}</div>
        <div *ngIf="error_pass" class="alert alert-danger">{{error_pass}}</div>
        <div *ngIf="error_desc" class="alert alert-danger">{{error_desc}}</div>
        <div *ngIf="error_prov" class="alert alert-danger">{{error_prov}}</div>

      </form>
      <!-- Remind Passowrd -->

    </div>
  </div>
</div>
