<app-main-toolbar> </app-main-toolbar>
<div class="general">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <h3><b>Εγγραφή Παρόχου</b></h3><br>
    </div>

  <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="inputFirstName">Όνομα Επιχείρησης</label>
        <input type="text" class="form-control" id="inputCompanyName" placeholder="Επιχείρηση" [(ngModel)]="providers.companyName" name="companyName" required>
      </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFirstName">Όνομα</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="Όνομα" [(ngModel)]="providers.firstName" name="firstName" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputLastName">Επώνυμο</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Επώνυμο" [(ngModel)]="providers.lastName" name="lastName" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputUserName">Username</label>
        <input type="text" class="form-control" id="inputUserName" placeholder="Username" [(ngModel)]="providers.userName" name="userName" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="providers.password" name="password" required>
      </div>
    </div>

      <div class="form-group">
        <label for="inputDescription">Περιγραφή Επιχείρησης</label>
        <input type="text" class="form-control" id="inputDescription" [(ngModel)]="providers.description" name="description" required>
      </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Περιοχή</label>
        <input type="text" class="form-control" id="inputCity" [(ngModel)]="providers.area" name="area" required>
      </div>
      <div class="form-group col-md-4">
        <label for="inputodos">Οδός</label>
        <input type="text" class="form-control" id="inputodos" [(ngModel)]="providers.streetName" name="streetName" required>
      </div>
      <div class="form-group col-md-2">
        <label for="inputarithmos">Αριθμός</label>
        <input type="text" class="form-control" id="inputarithmos" [(ngModel)]="providers.streetNumber" name="streetNumber" required>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail">E-Mail</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="E-Mail" [(ngModel)]="providers.mail" name="mail" required>
    </div>

    <div class="form-group">
      <label for="inputPhoneNumber">Αριθμός Τηλεφώνου</label>
      <input type="text" class="form-control" id="inputPhoneNumber" [(ngModel)]="providers.telNumber" name="telNumber" required>
    </div>

    <div class="form-group">
      <label for="inputiban">Αριθμός Χρεωστικής Κάρτας</label>
      <input type="text" class="form-control" id="inputiban" [(ngModel)]="providers.iban" name="iban" required>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        Αποδέχομαι τους όρους
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Εγγραφή</button>
  </form>
    <!-- Remind Passowrd -->

  </div>
</div>
</div>
