<div class="container">
  <h2>Σύνδεση Χρήστη</h2>
  <br>
  <form>

   <div class="form-group col-md-4">
      <label for="inputUsername">Username</label>
      <input type="text" class="form-control" id="inputUsername">
    </div>

      <div class="form-group col-md-4">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary" routerLink="/parent-events" href="">Υποβολή</button>
      </form>
</div>
