<app-main-toolbar> </app-main-toolbar>
<div class="xoxo">
<div id="formContent">
<div class="card card-1">
<div class="container">
  <h2>Νεα Εκδηλωση</h2>
  <br>
  <form #eventForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="inputEventName">Όνομα Εκδήλωσης</label>
      <input type="text" class="form-control" id="inputEventName" placeholder="Εκδήλωση" [(ngModel)]="event.eventname" name="eventName" required>
    </div>
    <div class="form-group">
      <label for="inputDescription">Περιγραφή Εκδήλωσης</label>
      <textarea class="textarea form-control" id="inputDescription" [(ngModel)]="event.description" name="description" required></textarea>
    </div>

    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputArea">Περιοχή</label>
      <input type="text" class="form-control" id="inputArea" [(ngModel)]="event.area" name="Area" required>
    </div>
    <div class="form-group col-md-4">
      <label for="inputStreetName">Οδός</label>
      <input type="text" class="form-control" id="inputStreetName" [(ngModel)]="event.streetName" name="StreetName" required>
    </div>
    <div class="form-group col-md-2">
      <label for="inputStreetNumber">Αριθμός</label>
      <input type="text" class="form-control" id="inputStreetNumber" [(ngModel)]="event.streetNumber" name="StreetNumber" required>
    </div>
  </div>


    <div class=row>
    <div class="form-group col-md-6">
      <label for="inputCapacity">Χωρητικότητα</label>
      <input type="text" min="1" class="form-control" id="inputCapacity" [(ngModel)]="event.capacity" name="capacity" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPrice">Τιμή</label>
      <input type="text" min="0" class="form-control" id="inputPrice" [(ngModel)]="event.price" name="price" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputDate">Ημερομηνία</label>
    <input type="date" class="form-control" id="inputDate" [(ngModel)]="event.date" name="date" required>
  </div>

    <!--CATEGORY-->
    <div class="form-group">
      <label for="inputCategory">Κατηγορία </label>
      <input type="radio" name="inputCategory" [value]="1" [(ngModel)]="event.category"> Αθλητισμός
      <input type="radio" name="inputCategory" [value]="2" [(ngModel)]="event.category"> Καλλιτεχνικά
      <input type="radio" name="inputCategory" [value]="3" [(ngModel)]="event.category"> Εκπαίδευση
    </div>
    <div class="form-group">
      <label for="inputAgeGroup">Ηλικίες </label>
      <input type="radio" [(ngModel)]="event.ageGroup" name="inputAgeGroup" [value]="1"> 2-5
      <input type="radio" [(ngModel)]="event.ageGroup" name="inputAgeGroup" [value]="2"> 5-10
      <input type="radio" [(ngModel)]="event.ageGroup" name="inputAgeGroup" [value]="3"> 10-15
      <input type="radio" [(ngModel)]="event.ageGroup" name="inputAgeGroup" [value]="4"> 15+
    </div>
    <div class="form-group">
      <label>Εικόνα Εκδήλωσης  </label>
      <input type="file" (change)="selectFile($event)">
    </div>


    <button type="submit" class="btn btn-primary">Υποβολή</button>
    <div *ngIf="currentFileUpload" class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
      aria-valuemin="0" aria-valuemax="100"
      [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
    </div>
      <div *ngIf="error1" class="alert alert-danger">{{error1}}</div>
      <div *ngIf="error2" class="alert alert-danger">{{error2}}</div>
    <div *ngIf="error0" class="alert alert-info">{{error0}}</div>
  </form>

</div>
</div>
</div>
