<div *ngIf="events.length!=0">
<app-single-event [searchURLParameters]="searchURLParameters" *ngFor="let ev of visibleEvents" [event]="ev">
</app-single-event>
<div class="row">
<div class="col-md-9">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item my-clickable"><a class="page-link" (click)="changePage(activePage-1)">Previous</a></li>
    <li *ngFor="let page of pagesList" class="page-item my-clickable">
      <a *ngIf="activePage==page" class="page-link my-clicked-page" (click)="changePage(page)">{{page}}</a>
      <a *ngIf="activePage!=page" class="page-link" (click)="changePage(page)">{{page}}</a>
    </li>
    <li class="page-item my-clickable"><a class="page-link" (click)="changePage(activePage+1)">Next</a></li>
  </ul>
</nav>
</div>
<div class="col-md-3" style="margin-right:0px;" style="color:dimgray;">Σύνολικά αποτελέσματα:{{events.length}}</div>
</div>
</div>
<div *ngIf="events.length==0">
  <p> Λυπούμαστε, δεν υπάρχουν δραστηριότητες για τα κριτήρια αναζήτησης που χρησιμοποιήσατε. </p>
</div>
