<div class="card w-100">
  <div class="row">
    <div class="col-xs-5 col-md-5">
      <img class="group myimage" src="data:image/png;base64,{{event.photoBody}}" alt="Sorry" routerLink="/one-event/{{event.id}}" />
      <!-- data-err-src="http://placehold.it/400x250/000/fff" -->
    </div>
    <div class="col-xs-7 col-md-7">
      <div class="card-body">


            <h5 class="card-title" routerLink="/one-event/{{event.id}}" >{{event.eventname}}</h5>

        <p class="card-text">{{shortDescription}} <a  *ngIf="isLong" routerLink="/one-event/{{event.id}}" >Δείτε περισσότερα</a></p>
        <div class="row">
        <div class="col-xs-8 col-md-8">
          Τιμή εισιτηρίου: {{event.price}}€
        </div>
        <div class="col-xs-4 col-md-4">
          <button type="button" class="btn btn-primary" routerLink="/one-event/{{event.id}}" >Κράτα θέση</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
