<div class="card w-100">
  <div class="row">
    <div class="col-xs-5 col-md-5">
      <img class="group myimage" src="http://placehold.it/400x250/000/fff" alt="" />
    </div>
    <div class="col-xs-7 col-md-7">
      <div class="card-body">
        <h5 class="card-title">{{event.eventName}}</h5>
        <p class="card-text">{{shortDescription}} <a href="#" *ngIf="isLong">Δείτε περισσότερα</a></p>
        <div class="row">
        <div class="col-xs-8 col-md-8">
          {{event.price}}
        </div>
        <div class="col-xs-4 col-md-4">
          <a href="#" class="btn btn-primary">Κράτα θέση</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
